
  sometable works!
  <table border="1"><tr><td>#</td><td>date</td><td>name</td><td>price</td></tr>
    <tr><td>1</td><td>10/20/30/40</td><td>cheryl</td><td>3000</td></tr>
    <tr><td>2</td><td>10/20/30/40</td><td>maggie</td><td>5000</td></tr>
  </table>
  <input type="text" name="name" [(ngModel)]="uname"  placeholder="your name" >
  <input type="password" name="pwd" [(ngModel)]="pwd"  placeholder="your pwd" >
  <button (click)="justclick(uname,pwd)">justclick</button>
  <h5>hello {{uname}} {{pwd}} {{message}}</h5>

